/* originally copied from  'react-fullpage/example/demo.css' */

footer,
header {
  padding: 10px;
}

footer {
  text-align: center;
  color: #000;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  margin: 0px 25px;

  transition: all 0.2s;
}

button {
  width: 50px;
  padding: 8px;
}

.btnGroup {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 9;
}